<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
<tr>
		<td>seq</td>
		<td>/list</td>
		<td>/address</td>
		<td>/postaCode
		<td>/main</td>
		<td>/contactMain_seq</td>
		<td>delNy</td>	
</tr>
		<tr th:each="list : ${list}">
		<td th:text="${list.seq}"></td>	
		<td th:text="${list.list}"></td>	
		<td><a th:href="@{/address/addressXdmView(seq=${list.seq})}" th:text="${list.address}"></a></td>	
		<td th:text="${list.postaCode}"></td>	
		<td th:text="${list.main}"></td>	
		<td th:text="${list.contactMain_seq}"></td>	
		<td th:text="${list.delNy}"></td>	
	</tr>
</table>
<br>
<a href="/address/addressXdmForm">등록</a>
</body>
</html>
