<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/address/addressXdmInst" method="post" id="form">
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled/>
	address: <input type="text" name="address" id="address" placeholder="주소 입력"/>
	contactMain_seq:<input type="text" name="contactMain_seq" id="contactMain_seq" maxlength="10" />
<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript"> // 기능을 실행할 수 있게 도와주는 요소(동작)

	document.getElementById("btnSave").onclick = function(){
		document.getElementById("form").submit();
	}
	
//	document.getElementById("btnSave").onclick = function(){
//		alert("adfgds");
//	}
	


</script>
</body>
</html>
