<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>listOfAnniversaries</td>
		<td>date</td>
		<td>solarLuna</td>
		<td>mainp</td>
		<td>contactMain_seq</td>
	</tr>
		<tr>
		<td th:text="${item.seq}"></td>	
		<td th:text="${item.listOfAnniversaries}"></td>	
		<td th:text="${item.date}"></td>	
		<td th:text="${item.solarLuna}"></td>	
		<td th:text="${item.mainp}"></td>	
		<td th:text="${item.contactMain_seq}"></td>	
	</tr>
</table>
<a href="/anniversary/anniversaryXdmList">목록</a>
<a th:href="@{/anniversary/anniversaryXdmDele(seq=${item.seq})}">삭제</a>
<a th:href="@{/anniversary/anniversaryXdmMfom(seq=${item.seq})}">수정</a>
<a th:href="@{/anniversary/anniversaryXdmUele(seq=${item.seq})}"id="uelete">업제</a>
  <script type="text/javascript">

/* documentsms 는 페이지를 의미  */
document.getElementById("uelete").onclick = function(){
	if(confirm("진짜")){
		//삭제
	}else{
		//아무것도 하지 않아도 됩니다
		return false;
	}
}
</script>       
</body>
</html>
