<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>listOfAnniversaries</td>
		<td>date</td>
		<td>solarLuna</td>
		<td>mainp</td>
		<td>contactMain_seq</td>
	</tr>
		<tr>
		<td th:text="${item.seq}"></td>	
		<td th:text="${item.listOfAnniversaries}"></td>	
		<td th:text="${item.date}"></td>	
		<td th:text="${item.solarLuna}"></td>	
		<td th:text="${item.mainp}"></td>	
		<td th:text="${item.contactMain_seq}"></td>	
	</tr>
</table>
<a href="/anniversary/anniversaryXdmList">목록</a>
<a th:href="@{/anniversary/anniversaryXdmDele(seq=${item.seq})}">삭제</a>
<a th:href="@{/anniversary/anniversaryXdmMfom(seq=${item.seq})}">수정</a>
</body>
</html>
