<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.address.AddressDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.address.AddressDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
		seq,
		list,
		address,
		postaCode,
		main,
		contactMain_seq,
		 delNy
	FROM
	  address
	WHERE 1=1
	 AND delNy = 0 
	ORDER BY seq DESC 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj" ><!-- 목록중에 하나 가져와서 보여주는 -->
	SELECT
		seq,
		list,
		address,
		postaCode,
		main,
		contactMain_seq
	FROM
	  address
	WHERE 1=1
		and seq = #{seq}
	ORDER BY seq DESC 
	</select>
	
	<insert id="insert"> <!-- 등록부분 -->
  	insert into address(
	    seq,
		list,
		address,
		postaCode,
		main,
		contactMain_seq,<!-- not null  무조건 값을 넣어줘야해 안넣어줘서 에러발생-->
		delNy
	  ) values (
	    #{seq},
		#{list},
		#{address},
		#{postaCode},
		#{main},
		#{contactMain_seq},
		0
	  )
	  <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update address set	<!-- 여기가 바뀌는 목록을 쓰는데야 -->
			address=#{address},	<!-- 이것만 해놨네? -->
			contactMain_seq= #{contactMain_seq}
		where 
			seq=#{seq} 
			<!--수정해도 안바껴...-->
	</update>
	<delete id="delete">
		delete from address where seq=#{seq}
	</delete>
	 <update id="uelete">
		update address set
		delNy=1
		where seq=#{seq}
	</update>
	
</mapper>