<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.club.ClubDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.club.ClubDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
		seq,
	    directInput
	FROM
	    club	    
	WHERE 1=1
	ORDER BY seq DESC 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    directInput
		from
		    club
		where 1=1
			and seq = #{seq}
		order by seq desc
	</select>
	
	<insert id="insert">
	    INSERT INTO club (
       directInput
    ) VALUES (
        #{directInput} 
    )
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>