<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.conpany.ConpanyDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.conpany.ConpanyDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
		SELECT
			seq,
			conpany,
			Affiliation,
			position,
			main,
			contactMain_seq
		From
	    	conpany	    
		WHERE 1=1
		ORDER BY seq DESC 
	</select>
	<select id="selectOne" resultMap="resultMapObj" >
		SELECT
			seq,
			conpany,
			Affiliation,
			position,
			main,
			contactMain_seq
		From
	    	conpany	    
		WHERE 1=1
			and seq = #{seq}
		ORDER BY seq DESC 
	</select>
	
	   <insert id="insert">
	    INSERT INTO conpany (
        position,
        contactMain_seq
	    ) VALUES (
	        #{position},
	        1
	    )
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update conpany set
		 position=#{ position}
		where contactMain_seq=#{contactMain_seq}
	</update>
	
	<delete id="delete">
		delete from conpany where seq=#{seq}
	</delete>
</mapper>