<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.contactmain.ContactmainDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.contactmain.ContactmainDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
	seq, 
	   firstName,
	   lastName,
	   id,
	   nickname,
	   memo,
	   important,
	   img
   From
      contactmain	    
	WHERE 1=1
	ORDER BY seq DESC 
	</select>
	<select id="selectOne" resultMap="resultMapObj" >
	SELECT
	seq, 
	   firstName,
	   lastName,
	   id,
	   nickname,
	   memo,
	   important,
	   img
   From
      contactmain	    
	WHERE 1=1
		AND seq = #{seq}
	ORDER BY seq DESC 
	</select>
	
	<insert id="insert">
	
	    
	    INSERT INTO contactmain (
	    firstName, 
	    lastName, 
	    important
	    ) VALUES (
	    #{firstName}, 
	    #{lastName}, 
	    1
	    )

     <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update contactmain set
		firstName=#{firstName},
		lastName=#{lastName}
		where seq=#{seq}
	</update>
	<delete id="delete">
		delete from contactmain where seq=#{seq}
	</delete>
	  
</mapper>