<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.homepage.HomepageDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.homepage.HomepageDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
		seq,
	    homeAddress,
	    mainP,
		contactMain_seq,
		delNy
	FROM
	   homepage    
	WHERE 1=1
	AND delNy = 0 
	ORDER BY seq DESC 
	</select>
	<select id="selectOne" resultMap="resultMapObj" >
	SELECT
		seq,
	    homeAddress,
	    mainP,
		contactMain_seq
	FROM
	   homepage    
	WHERE 1=1
		AND seq = #{seq}
	ORDER BY seq DESC 
	</select>
	
	<insert id="insert">
	    INSERT INTO homepage (
		homeAddress,
		contactMain_seq,
		delNy
    ) VALUES (
		#{homeAddress},
		#{contactMain_seq},
		0
    )
     <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update homepage set
			homeAddress=#{homeAddress},
			contactMain_seq=#{contactMain_seq}
		where 
			seq=#{seq}
	</update>
	<delete id="delete">
		delete from homepage where seq=#{seq}
	</delete>
	<update id="uelete">
		update homepage set
		delNy=1
		where seq=#{seq}
	</update>
	  
	  
</mapper>