<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.phone.PhoneDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.phone.PhoneDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
		seq,
		groupList,
		number,
	    mainP,
	    contactMain_seq
    FROM
	    phone	    
	WHERE 1=1
	ORDER BY seq DESC 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj" >
	SELECT
		seq,
		groupList,
		number,
	    mainP,
	    contactMain_seq
    FROM
	    phone	    
	WHERE 1=1
		AND seq = #{seq}
	ORDER BY seq DESC 
	</select>
	
	<insert id="insert">
	    INSERT INTO phone (
		number,
		contactMain_seq
    ) VALUES (
		#{number},
		1
    )
     <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	  
</mapper>