<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.fapp.sns.SnsDao">

	<resultMap id="resultMapObj" type="com.qwer.fapp.sns.SnsDto" ></resultMap>
	
	<select id="selectList" resultMap="resultMapObj" >
	SELECT
	seq,
	line,
	massenger,
	main,
	contactMain_seq
    FROM
	    sns	    
	WHERE 1=1
	ORDER BY seq DESC 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj" >
	SELECT
	seq,
	line,
	massenger,
	main,
	contactMain_seq
    FROM
	    sns	    
	WHERE 1=1
		AND seq = #{seq}
	ORDER BY seq DESC 
	</select>
	
	<insert id="insert">
	    INSERT INTO sns (
		massenger,
		contactMain_seq
    ) VALUES (
		#{massenger},
		1
    )
     <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	  
</mapper>