<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>conpany</td>
		<td>Affiliation</td>
		<td>position</td>
		<td>main</td>
		<td>contactMain_seq</td>
	</tr>
		<tr th:each="list : ${list}">
		<td th:text="${list.seq}"></td>	
		<td><a th:href="@{/conpany/conpanyXdmView(seq=${list.seq})}" th:text="${list.conpany}"></a></td>	
		<td th:text="${list.Affiliation}"></td>	
		<td th:text="${list.position}"></td>	
		<td th:text="${list.main}"></td>		
		<td th:text="${list.contactMain_seq}"></td>	
	</tr>
</table>
<br>
<a href="/conpany/conpanyXdmForm">등록</a>
</body>
</html>
