<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>conpany</td>
		<td>Affiliation</td>
		<td>position</td>
		<td>main</td>
		<td>contactMain_seq</td>
	</tr>
		<tr>
		<td th:text="${item.seq}"></td>	
		<td th:text="${item.conpany}"></td>	
		<td th:text="${item.Affiliation}"></td>	
		<td th:text="${item.position}"></td>	
		<td th:text="${item.main}"></td>		
		<td th:text="${item.contactMain_seq}"></td>	
	</tr>
</table>
<a href="/conpany/conpanyXdmList">목록</a>
<a th:href="@{/conpany/conpanyXdmDele(seq=${item.seq})}">삭제</a>
<a th:href="@{/conpany/conpanyXdmMfom(seq=${item.seq})}">수정</a>
<a th:href="@{/conpany/conpanyXdmUele(seq=${item.seq})}"id="uelete">업제</a>
</body>
       <script type="text/javascript">

/* documentsms 는 페이지를 의미  */
document.getElementById("uelete").onclick = function(){
	if(confirm("진짜")){
		//삭제
	}else{
		//아무것도 하지 않아도 됩니다
		return false;
	}
}
</script>   
</html>
