<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/email/emailXdmUpdt" method="post" id="form">
	<input type="hidden" name="seq" th:value="${item?.seq}"/>
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled="disabled" th:value="${item?.seq}"/>
	email: <input type="text" name="email" id="email" placeholder="이메일 입력" th:value="${item?.email}"/>
	contactMain_seq:<input type="text" name="contactMain_seq" id="contactMain_seq" maxlength="10"  th:value="${item?.contactMain_seq}"/>
<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript">

	document.getElementById("btnSave").onclick = function(){
		document.getElementById("form").submit();
	}
	
	
	
//	document.getElementById("btnSave").onclick = function(){
//		alert("adfgds");
//	}
	
//	document.getElementById("directInput").onclick = function(){
//		alert("directInput");
//	}	

</script>
</body>
</html>
