<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>/groupList</td>
		<td>/number</td>
	    <td>/mainP</td>
	    <td>/contactMain_seq</td>	
	</tr>
	<tr>
		<td th:text="${item.seq}"></td>
		<td th:text="${item.groupList}"></td>
		<td th:text="${item.number}"></td>
		<td th:text="${item.mainP}"></td>
		<td th:text="${item.contactMain_seq}"></td>
	</tr>
</table>
<a href="/phone/phoneXdmList">목록</a>
<a th:href="@{/phone/phoneXdmDele(seq=${item.seq})}">삭제</a>
<a th:href="@{/phone/phoneXdmMfom(seq=${item.seq})}">수정</a>

</body>
</html>
	