<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>/groupList</td>
		<td>/number</td>
	    <td>/mainP</td>
	    <td>/contactMain_seq</td>
	    <td>delNy</td>		
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.seq}"></td>
		<td><a th:href="@{/phone/phoneXdmView(seq=${list.seq})}" th:text="${list.groupList}"></a></td>
		<td><a th:href="@{/phone/phoneXdmView(seq=${list.seq})}" th:text="${list.number}"></a></td>
		<td><a th:href="@{/phone/phoneXdmView(seq=${list.seq})}" th:text="${list.mainP}"></a></td>
		<td><a th:href="@{/phone/phoneXdmView(seq=${list.seq})}" th:text="${list.contactMain_seq}"></a></td>
		<td th:text="${list.delNy}"></td>	
	</tr>
</table>

<br>
<a href="/phone/phoneXdmForm">등록</a>
</body>
</html>
	