<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>/firstName</td>	
		<td>/lastName</td>	
		<td>/id</td>	
		<td>/nickname</td>	
		<td>/memo</td>	
		<td>/important</td>	
		<td>/img</td>	
	</tr>
	<tr>
		<td th:text="${item.seq}"></td>	
		<td th:text="${item.firstName}"></td>	
		<td th:text="${item.lastName}"></td>	
		<td th:text="${item.id}"></td>	
		<td th:text="${item.nickname}"></td>	
		<td th:text="${item.memo}"></td>	
		<td th:text="${item.important}"></td>	
		<td th:text="${item.img}"></td>	
	</tr>	
</table>
<a href="/contactmain/contactmainXdmList">목록</a>
<a href="">삭제</a>
<a th:href="@{/contactmain/contactmainXdmMfom(seq=${item.seq})}">수정</a>
</body>
</html>
