<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>line<td>
		<td>massenger<td>
		<td>/contactMain_seq</td>
	</tr>
		<tr th:each="list : ${list}">
		<td th:text="${list.seq}"></td>	
		<td th:text="${list.line}"></td>	
		<td><a th:href="@{/sns/snsXdmView(seq=${list.seq})}" th:text="${list.massenger}"></a></td>	
		<td th:text="${list.main}"></td>	
		<td th:text="${list.contactMain_seq}"></td>	
	</tr>
</table>
<br>
<a href="/sns/snsXdmForm">등록</a>

</body>
</html>
